@import "../../styles/variables.scss";

.button{
    cursor: pointer;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    &:hover{
        opacity: .7; 
    }
    img{
        width: 18px;
        height: auto;
    }
}  

.input_container{
    margin-bottom: 2rem;
    position: relative;
    .edit{
        cursor: pointer;
        color: $pds-blue;
        position: absolute;
        right: 0;
        top: -1.2rem;
    }
}

.delete_button{
    margin: 0 auto;
    color: $pds-red;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        opacity: .7; 
    }
}

@media (min-width: 900px) {
    .input_container{
        margin-bottom: 1rem;
        .edit{
            top: 0rem;
        }
    }
}