.container{
    position: relative;
    background-color: white;
    overflow-y: scroll;
    width: 30vw;
    max-width: 565px;
    height: 75vh;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 40px #E1E5EC; 
    box-shadow: 0px 4px 40px #E1E5EC;
}