@import "../../../../../../styles/variables.scss";

.container{
    position: relative;
    span{
        color: $gray-text;
        }
    padding: 1.5rem;
    padding-bottom: 3rem;
    width: 100%;
    .patient_info{
        a, p{
            margin: 1rem 0;
        }
        p{
            line-height: 25px;
        }
    } 
    .form{
        margin: 1rem 0;
    } 
    .close_container{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}
