.fixed_header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    .header{
        color: white;
        padding: 1rem;
        background-color: #2e82f8;
        .img{
            margin: 0 auto;
            width: 100%;
            max-width: 350px;
        }
        p,h2{
            text-align: left;
        }
        p{
            font-size: 12px;
            letter-spacing: .8px;
        }
        h2{
            font-weight: 300;
            font-size: 20px;
            margin-top: .5rem;
        }
    }
}

.swipable_component{
    margin: 1rem;
}
.step_container{
    .question_title{
        font-weight: 300;
        padding-bottom: 0.5rem;
    }
    .input_container{
        margin-bottom: 2rem;
        position: relative;
        .edit{
            cursor: pointer;
            color: #2E83F8;
            position: absolute;
            right: 0;
            top: -1.2rem;
        }
    }
    .legal_container{
        margin: 0 auto;
        margin-top: 140px;
        text-align: justify;
        .grey_text{
            opacity: 0.5;
            font-size: 16px;
            line-height: 25.5px;
            font-weight: 400;
        }
        h4{
            text-align: left;
            padding: 1rem 0;
            line-height: 25px;
        }
        h5{
            text-align: left;
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 16px;
            line-height: 28.8px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
            line-height: 28.8px;
            font-weight: 400;
        }
    }
}

.fixed_container{
    position: absolute;
    width: 100%;
    bottom: 0;
    .go_back{
        img{
            cursor: pointer;
            width: 25px;
        }
    }
    .fixed{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        box-shadow: 0px 0px 50px #DAE1EF;
        background-color: white;
        padding: 1rem;
        z-index: 99999 !important;
    }
}

@media (min-width: 900px) {
    .swipable_component{
        height: 100%;
        margin: 2rem auto;
        width: 90%;
        max-width: 350px;

    }
}
