.intervention_section{
    padding: 1rem;
    cursor: pointer;
    transition: height 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .time{
        font-weight: bolder;
        font-size: 15px;
        width: 30%;
    }
    &:hover{
        background-color: #c3c3c3;
    }
    .direction{
        width: 70%;
        .flex_container_direction{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5rem;
            .name{
                img{
                    width: 30px;
                    margin-right: .5rem;
                }
                display: flex;
                justify-content: flex-start;
                align-items: center;
                h5{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .arrow_container{
            img{
                width: 6px;
                height: 12px;
            }
        }
        p{
            font-size: 14px;
            line-height: 22px;
            width: 85%;
            max-width: 220px;
        }
    }
}