.container{
    height: 100%;
    overflow-y: hidden !important;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 6rem;
    .dropdown_container{
        padding-top: 3rem;
        width: 350px;
        p{
            line-height: 25px;
            margin: 2rem 0 3rem 0;
        }
        div{
            width: 100%;
        }
    }
    .agenda{
        h4{
            margin-bottom: 1rem;
        }
        .no_user_selected{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            p{
                color: gray;
                font-size: 25px;
                width: 50%;
                text-align: center;
            }
        }
    }
}
