.container{
    height: 100%;
    overflow-y: hidden !important;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 6rem;
    .dropdown_container{
        padding-top: 3rem;
        width: 350px;
        p{
            line-height: 25px;
            margin: 2rem 0 3rem 0;
        }
        div{
            width: 100%;
        }
    }
    .agenda{
        h4{
            margin-bottom: 1rem;
        }
        .no_user_selected{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            p{
                color: gray;
                font-size: 25px;
                width: 50%;
                text-align: center;
            }
        }
    }
}

.flex_container{ 
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    div{
        width: 400px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img{
            width: 60px;
            height: 60px;
            margin-top: 0rem;
        }
        h2{
            margin: 1rem 0;
        }
        p{
            width: 70%;
            line-height: 25px;
            margin-bottom: 1rem;
        }
    }
}

@media (min-width: 1450px) {
    .flex_container{
        flex-direction: row;
        justify-content: center;
        div{
            img{
                margin-top: 0;
            }
        }
    }
}    