section{
    .flex_child{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: .8rem;
        p{
            padding: 0;
            font-size: 16px;
            line-height: 24px;
        }
        .user_logo{
            width: 24px;
            height: 24px;
            margin: 0 1rem 0 0;
        }
        .info_logo{
            width: 16px;
            height: auto;
            margin: 0 1rem 0 0;
        }
    }
    .info_section{
        max-width: 300px;
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }
}